<article class="movie" data-movie-id="{{ movie.id }}">

    <div class="header">
        <img src="{{ movie.poster }}" alt="{{ movie.name }}">
        <h3>{{ movie.name }}</h3>
        <span class="public">{{ movie.public }}</span>
        <span class="genre">{{ movie.genre }}</span>
        <span class="duration">{{ movie.duration }}</span>
    </div>

    <div class="showtimes">
        {{ movie.showtimes }}
    </div>

</article>