<span class="showtime {{ showtime.status }}" data-toggle-target="t{{ showtime.theater.key }}">
    <span class="session">{{ showtime.time }} {{ showtime.version }}</span>
    <span class="theater">{{ showtime.theater.name }}</span>
</span>