<span class="showtime" data-theater-key="{{ showtime.theater.key }}" title="{{ showtime.theater.name }}">
    <span class="time">{{ showtime.time }}</span>
    <span class="version">{{ showtime.version }}</span>
</span>