@charset "UTF-8";

header {
    text-align: center;

    .theater {
        @extend %font-bold;
        overflow: hidden;
        display: inline-block;
        font-size: 0.8rem;
        margin: 0.5em;
        padding: 0.3em 0.5em;
        color: $white;
        background: $grey_dark;
        border-radius: $border_radius;
        border: 1px solid $black;
        user-select: none;
        cursor: pointer;

        &.disabled {
            opacity: 0.3;
        }
    }
}

main {
    padding: 1em;
    padding-right: calc(1em + 16px);

    .movie {
        border-radius: $border_radius;
        border: 1px solid $grey;
        margin: 0.5em;
        overflow: hidden;

        .header {
            float: left;
            width: 400px;
            border-right: 1px solid $grey;
            padding: 0;

            img {
                float: left;
                width: $poster_width;
                height: $poster_height;
                margin-right: 0.5em;
            }
        }
        .showtimes {
            padding: 0.5em;
            height: $poster_height;
            margin-left: 400px;
            overflow-x: scroll;
        }
    }

    .showtime {
        overflow: hidden;
        display: inline-block;
        font-size: 0.8rem;
        margin: 0.5em;
        padding: 0.3em 0.5em;
        color: $white;
        background: $grey_dark;
        border-radius: $border_radius;
        border: 1px solid $black;
        user-select: none;

        .session,
        .theater {
            @extend %font-bold;
            display: block;
            clear: both;
            padding: 0.1em 0.4em;
            text-align: center;
            cursor: default;
        }
        .theater {
            font-size: 0.6rem;
            color: $grey;
        }
        &.disabled {
            display: none;
        }
        &.completed {
            opacity: 0.5;
        }
    }
}